<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <h1>And here's a picture (unless it doesn't work)</h1>
        <img src="dana.jpg">
    </body>
</html>